<!-- User is not yet signed in -->
<div *ngIf="bdAuth.userEmail ==''">
  <mat-card class="middle">
    <mat-card-title>About</mat-card-title>
    <mat-card-subtitle>
      This is a signin book designed to replace the paperbook ones. 
      <br>
      Data is stored securely online.
      <br>
      Created by Johannes Nicholas - johannes.nicholas@v.fire.tas.gov.au
    </mat-card-subtitle>
  </mat-card>
  
  
  <mat-card class="middle">
    <mat-card-title>Authentication</mat-card-title>
    <mat-card-subtitle>
      We use microsoft authentication to prove you are from the TFS. 
      <br>
      Please login with your fire.tas.gov.au account.
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-button (click)="bdAuth.signin()">Microsoft Login</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- User is signed in but not from TFS -->
<div *ngIf="!bdAuth.isUserFromTFS() && bdAuth.userEmail != ''">
  <mat-card class="middle">
    <mat-card-title>TFS only</mat-card-title>
    <mat-card-subtitle>
      Sorry, that email was not from the TFS.
      <br>
      To authenticate, you must login with your firstname.lastname@fire.tas.gov.au account.
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-button (click)="bdAuth.userSignOut()">Signout</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- User is signed in -->
<div *ngIf="bdAuth.isUserFromTFS()">
  <app-book></app-book>
</div>

<router-outlet></router-outlet>
