

<h1 style="position: relative;" mat-dialog-title>
  <div *ngIf="newEvent">New Event</div>
  <div *ngIf="!newEvent">Edit Event</div>
  <button style="position: absolute; right: 0; top: 0;" mat-button (click)="this.dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</h1>

<div mat-dialog-content>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Incident no. (optional)</mat-label>
            <input matInput [(ngModel)]="number" placeholder="22-006875">
          </mat-form-field>
    </p>
  
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="description" placeholder="Vegetation Fire Proctors Road">
          </mat-form-field>
    </p>

    <p>
        <mat-checkbox [(ngModel)]="red" >Red</mat-checkbox>
    </p>

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> 
    </p>

    
         
</div>
<div mat-dialog-actions align="end">
  <button mat-mini-fab color="warn"  cdkFocusInitial *ngIf="!newEvent" (click)="delete()"><mat-icon>delete</mat-icon></button>
  <button mat-fab  color="primary" mat-button cdkFocusInitial (click)="create()"><mat-icon>save</mat-icon></button>
</div>
